@charset "utf-8";

body {
    background-image: url(imagens/fundo-madeira.jpg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* área principal */
div.tudo {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* celular */
img.celular {
    display: block;
    margin: auto;
    width: 311px;
}

/* tela */
iframe {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-49.7%);
    width: 269px;
    height: 471px;
    z-index: 1;
    overflow-y: hidden;
}

/* área dos ícones */
div.foto {
    position: absolute;
    top: 5%;
    right: 10px;
}

/* ícones */
img.logo {
    display: block;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 11;
}

/* efeito hover */
img.logo:hover {
    border: 2px solid wheat;
    transform: translate(-3px, -3px);
    transition: 0.5s;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

    img.celular {
        width: 250px;
    }

    iframe {
        width: 216px;
        height: 379px;
        top: 64px;
    }

    div.foto {
        right: 5px;
    }

    img.logo {
        height: 38px;
        margin-bottom: 10px;
    }
}